:root {
    --col-primary: #f5f5f5;
    --col-secondary: #212529;
    --col-accent: #7e7e7e;
    --btn-primary: #979797;
    --btn-secondary: #080808;
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url('./fonts/IBMPlexMono-Text.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url('./fonts/IBMPlexMono-SemiBold.ttf');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Product Sans";
    src: url('./fonts/Product Sans Regular.ttf');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Torus Pro";
    src: url('./fonts/Torus-Regular.otf');
    font-style: normal;
    font-weight: bold;
}

body, html, main {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--col-secondary)!important;
    min-height: 100vh;
    width: 100vw;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin: 0;
    padding: 0;
}

* {
    font-family: "Torus Pro", sans-serif;
    font-weight: normal;
    text-decoration: none;
}

.navBar > * {
    color: var(--col-primary);
}

a {
    text-decoration: none;
}

.form-control {
    max-width: 20rem;
}

.userCard {
    background-color: var(--col-secondary);
}

.userCard * {
    border-color: var(--col-accent);
    outline-color: var(--col-accent);
}

.countryIco {
    filter: brightness(0) invert(1);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

* {
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #ffffff #141414; /* For Firefox */
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: 8px;
    background-color: #00000000;
    outline: none;
    border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    cursor: pointer;
    border-radius: 8px;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #cccccc;
    cursor: pointer;
    border-radius: 8px;
}

.beatmapImg {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.bi-info-circle {
    cursor: help;
}
.volume-slider-container{
    display: none;
}

.volume-slider {
    -webkit-appearance: none;
    height: 10px;
    background: #ffffff33;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.volume-button:hover .volume-slider-container {
    display: block;
}

.volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0;
    height: 0;
    background: #ffffff;
    box-shadow: -400px 20px 0 400px #ffffff;
    border-radius: 10px;
}

.volume-slider::-moz-range-thumb {
    width: 10px;
    height: 10px;
    background: #cccccc;
}

.mode-icon {
    -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);
    height: 16px;
    width: 16px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.medal:hover {
    transform: scale(1.1);
}