:root {
    --col-primary: #f5f5f5;
    --col-secondary: #212529;
    --col-accent: #7e7e7e;
    --btn-primary: #979797;
    --btn-secondary: #080808;
    --nav-primary: #080808;
}

@font-face {
    font-family: "IBMPlexSansJP";
    src: url('./fonts/IBMPlexSansJP-Medium.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url('./fonts/IBMPlexMono-Text.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Comfortaa";
    src: url('./fonts/Comfortaa.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Product Sans";
    src: url('./fonts/Product Sans Regular.ttf');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Torus Pro";
    src: url('./fonts/Torus-Regular.otf');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Aller";
    src: url('./fonts/Aller_Rg.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Arial Rounded";
    src: url('./fonts/Arial-Rounded.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "DM Sans";
    src: url('./fonts/DMSans-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

main {
    height: calc(100vh - 52px);
    overflow-x: hidden;
}

body {
    background-color: var(--col-secondary) !important;
    min-height: 100vh;
    width: 100vw;
}

* {
    font-family: "Torus Pro", sans-serif !important;
    font-weight: normal !important;
    text-decoration: none !important;
    border-collapse: separate !important;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold !important;
    margin: 0 !important;
    padding: 0 !important;
}

nav {
    background-color: var(--nav-primary);
}

.navBar > * {
    color: var(--col-primary);
}

a {
    text-decoration: none;
}

.form-control {
    max-width: 20rem;
}

.userCard {
    background-color: var(--col-secondary);
}

.userCard * {
    border-color: var(--col-accent);
    outline-color: var(--col-accent);
}

.countryIco {
    filter: brightness(0) invert(1);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

* {
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #ffffff #141414; /* For Firefox */
    box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
}

*::-webkit-scrollbar {
    width: 8px;
    background-color: #00000000;
    outline: none;
    border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    cursor: pointer;
    border-radius: 8px;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #cccccc;
    cursor: pointer;
    border-radius: 8px;
}

.beatmapImg {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.bi-info-circle {
    cursor: help;
}

.hover-container {
    display: none;
    position: absolute;
    top: 40px;
    transform: translateY(-100%);
    transition: transform 0.5s ease;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.volume-slider {
    -webkit-appearance: none;
    height: 10px;
    background: #ffffff33;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.hover-button:hover .hover-container {
    display: flex;
    transform: translateY(0);
}

.volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0;
    height: 0;
    background: #ffffff;
    box-shadow: -400px 20px 0 400px #ffffff;
    border-radius: 10px;
}

.volume-slider::-moz-range-thumb {
    width: 10px;
    height: 10px;
    background: #cccccc;
}

.mode-icon {
    -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);
    height: 16px;
    width: 16px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #f5f5f5 !important;
    background-color: #212529 !important;
}

.colorPicker {
    color: #f5f5f5 !important;
    background-color: #212529 !important;
}

.colorPicker * {
    color: #f5f5f5 !important;
    text-align: center !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.colorPicker input {
    border-radius: 8px;
    background-color: #f5f5f5 !important;
    color: #212529 !important;
}

.nav-tabs {
    flex-wrap: nowrap !important;
    border-color: #212529 !important;
    outline: none !important;
}

.nav-tabs .nav-link {
    background-color: #000000 !important;
    border: none !important;
    outline: none !important;
}

.nav-tabs .active {
    background-color: #212529 !important;
    border: none !important;
    outline: none !important;
}

.shadow {
    box-shadow: 0 1rem 1rem rgb(0, 0, 0) !important;
}

button {
    outline: none !important;
    border: none !important;
}

.dropdown-toggle::after, .dropdown-toggle::before {
    display: none !important;
}

hr {
    background-color: #ffffff44;
}

.modal-backdrop {
    z-index: 50 !important;
    display: none ;
}


.modal {
    z-index: 1000;
}

#reactTooltip {
    overflow: hidden;
}

button:disabled {
    opacity: 0.5 !important;
    transition: transform 0.5s ease;
}

button {
    transition: transform 0.5s ease;
}